.cart-container {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.cart__items_container {
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.3rem;
}

.cart-items__info {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  color: #65635F;
  justify-content: space-between;
  padding-left: 5em;
  padding-right: 5em;
  width: 70%;
  background-color: #F0F0F0;
  align-self: baseline;
  font-size: calc(.25em + 0.7vw);
}


.cart-items__info_items {
  display: flex;
  align-items: center;
  width: 13em;
  gap: 5%;
}

.cart-items__info_pages {
  display: flex;
  width: 13em;
  gap: 5%;
  justify-content: right;
  align-items: center;
}

.info-pages__btns {
  width: 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-items__number-input {
  width: 3em;
  border-radius: 10%;
  height: 1.5em;
  color: #65635F;
  text-align: center;
  font-size: 1em;
  display: block;
}

.info-items__number-input::-webkit-outer-spin-button,
.info-items__number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
  width: 1em;
  border-left: 1px solid #BBB;
  opacity: .5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.info-items__number-input::-webkit-inner-spin-button:hover,
.info-items__number-input::-webkit-inner-spin-button:active{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;;
    opacity: .8;
}

.info-pages__btn-left,
.info-pages__btn-right {
  cursor: pointer;
  transition: transform .3s;
}

.info-pages__btn-left:hover,
.info-pages__btn-right:hover {
  transform: scale(1.2);
}

.disabled {
  cursor: default;
  opacity: 30%;
  pointer-events: none;
}

.cart-items__item {
  display: grid;
  grid-template-columns: 70% 30%;
}

.cart-item__card {
  padding-top: 2%;
  display: grid;
  grid-template-columns: 7% 40% 51%;
  padding-bottom: 2%;
  background-color: #F0F0F0;
  cursor: pointer;
}

.cart-item__order {
  color: #65635F;
  text-align: center;
  pointer-events: none;
  font-size: 1em;
}

.cart-item__img {
  width: 95%;
  pointer-events: none;
}

.cart-item__description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #161412;
  pointer-events: none;
}

.cart-item__description_title {
  font-size: calc(.4em + 1vw);
  font-weight: 500;
  margin-bottom: 2%;
  pointer-events: none;
}

.cart-item__description_category {
  font-size: calc(.25em + 0.8vw);
  margin-bottom: 2%;
  pointer-events: none;
}

.cart-item__description_rating,
.cart-item__description_size,
.cart-item__description_discount,
.cart-item__description_price {
  font-size: calc(.2em + 0.7vw);
  color: #65635F;
  margin-bottom: 1%;
  pointer-events: none;
}

.cart-item__description_text {
  color: #161412;
  font-size: calc(.25em + 0.8vw);
  line-height: 1.5em;
  padding-right: 5%;
  margin-top: 5%;
  pointer-events: none;
}

.cart-item__amount_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.cart-amount__change-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-self: center;
  width: 5.5rem;
}

.cart-amount__amount {
  color: #65635F;
  font-size: calc(.25em + 0.7vw);
}

.cart-amount__btn-minus,
.cart-amount__btn-plus {
  cursor: pointer;
  transition: transform .3s;
}

.cart-amount__btn-minus:hover,
.cart-amount__btn-plus:hover {
  transform: scale(1.15);
}

.cart-amount__stock-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10%;
  justify-content: center;
}

.cart-amount__stock-text,
.cart-amount__stock-num {
  color: #979797;
  font-size: calc(.3em + 0.5vw);
}

.cart-amount__price-text,
.cart-amount__price-num {
  font-size: calc(.4em + 1.6vw);
  color: #FF7D15;
  font-weight: 700;
}

.cart-summary__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1.8em;
  width: 25%;
  height: fit-content;
  margin-top: 5%;
}

.cart-summary__title {
  font-weight: 700;
  font-size: calc(.1em + 1vw);
  margin-bottom: 2%;
}

.cart-summary__total-items_container,
.cart-summary__total-sum_container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1%;
  width: 100%;
}

.cart-total-items__text,
.cart-total-items__num,
.cart-total-sum__text,
.cart-total-sum__num {
  color: #65635F;
  font-size: calc(.2em + 0.8vw);
  font-weight: 300;
}

.cart-total-items__text,
.cart-total-sum__text {
  font-weight: 500;
  color: #FF7D15;
}

.old-price {
  text-decoration: line-through;
}

.cart-summary__promocode {
  position: relative;
  display: flex;
  min-width: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-promocode__applied-codes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #FF7D15;
}

.cart-promocode__applied-codes_title {
  margin-top: 1%;
  color: #65635F;
  font-weight: 500;
  font-size: calc(.2em + 0.7vw);
  text-transform: uppercase;
}

.cart-promocode__input {
  border: 1px solid #DEDEDE;
  border-radius: 20em;
  height: 2.7rem;
  width: 100%;
  padding: 2% 5% 2% 5%;
  outline: 0;
  margin-bottom: 2%;
  font-size: calc(.2em + 0.7vw);
}

.cart-promocode__input::placeholder {
  color: #b8b8b8;
  font-size: calc(.2em + 0.7vw);
}

.cart-promocode__input::-webkit-search-cancel-button {
  background: linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#000 45%,#000 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
  linear-gradient(135deg, transparent 0%,transparent 43%,#000 45%,#000 55%,transparent 57%,transparent 100%);
  opacity: .3;
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50em;
  position: relative;
}

.cart-promocode__active-codes {
  color: #65635F;
  font-weight: 300;
  font-size: calc(.2em + 0.6vw);
  user-select: text;
}

.cart-promocode__code-apply_wrapper,
.cart-promocode__code-drop_wrapper {
  display: flex;
  align-self: center;
  margin-top: 2%;
  margin-bottom: 2%;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  gap: 2%;
}

.cart-promocode__code-apply_text,
.cart-promocode__code-drop_text {
  color: #FF7D15;
  margin-right: 2%;
  font-size: calc(.2em + 0.8vw);
}

.cart-promocode__code-apply_btn,
.cart-promocode__code-drop_btn {
  cursor: pointer;
  background-color: #FF7D15;
  color: #FFF;
  text-transform: uppercase;
  width: 4em;
  height: 1.5em;
  border-radius: 0.15em;
  font-size: calc(.2em + 0.8vw);
  transition: background-color .3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.cart-promocode__code-apply_btn:hover,
.cart-promocode__code-drop_btn:hover {
  background-color:#65635F;
}

.cart-promocode__code-apply_btn:active,
.cart-promocode__code-drop_btn:active {
  background-color:#251707;
}

.cart-total-sum__line {
  border-bottom: 1px solid #65635F;
}

.cart-total-sum__buy-btn {
  cursor: pointer;
  background-color: #FF7D15;
  color: #FFF;
  font-size: calc(.1em + 1vw);
  text-transform: uppercase;
  height: 2.5em;
  transition: background-color .3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.15em;
  font-size: calc(.1em + 0.9vw);
}

.cart-total-sum__buy-btn:hover {
  background-color:#65635F;
}

.cart-total-sum__buy-btn:active {
  background-color:#251707;
}

.cart__empty_img {
  align-self: center;
  width: 80%;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

.cart__empty_title {
  font-size: calc(.2em + 1.7vw);
  text-align: center;
  color: #ff7d15;
  font-weight: 500;
  margin-bottom: 5%;
  align-self: center;
}

.cart__empty_text {
  margin-top: 5%;
  font-size: calc(.2em + 1vw);
  text-align: center;
  width: 70%;
  align-self: center;
}

@media screen and (max-width: 1200px) {
  .cart-amount__btn-minus, 
  .cart-amount__btn-plus {
    width: 25%;
  }

  .cart-promocode__input {
    height: 2.2rem;
  }

  .cart-summary__container {
    gap: 1.4em;
  }
}

@media screen and (max-width: 1000px) {
  .cart-items__info {
    padding-left: 3em;
    padding-right: 3em;
  }

  .cart-amount__change-container {
    width: 4rem;
  }

  .cart-amount__btn-minus, 
  .cart-amount__btn-plus {
    width: 20%; 
  }

  .cart-summary__container {
      gap: 1.2em;
  }

  .cart-promocode__input {
    height: 1.7rem;
  }
}


@media screen and (max-width: 780px) {
  .cart-items__info {
    padding-left: 2em;
    padding-right: 2em;
  }

  .info-pages__btns {
    width: 5em;
  }

  .info-pages__btn-left,
  .info-pages__btn-right {
    width: 20%;
  }

  .cart-promocode__code-apply_wrapper, 
  .cart-promocode__code-drop_wrapper {
    flex-direction: column;
  }

  .cart-promocode__input {
    height: 1.4rem;
  }

  .cart-summary__container {
    gap: 1em;
}
}