.about-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 3%;
  height: calc(.5em + 30vw);
}

.about__img-wrapper {
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  height: 100%;
}

.about__image {
  width: 70%;
}

.about__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 42%;
  gap: 0.5rem;
}

.about__title {
  font-weight: 500;
  font-size: calc(.2em + 1.7vw);
  letter-spacing: 0.15em;
  color: #161412;
}

.about__text {
  font-size: calc(.2em + 1vw);
  color: #65635F;
  font-weight: 300;
}

.about__explore-btn {
  margin-top: 4rem;
  cursor: pointer;
  background-color: #FF7D15;
  color: #FFF;
  font-size: calc(.1em + 0.9vw);
  text-transform: uppercase;
  height: 2.2em;
  width: 7em;
  border-radius: 0.15em;
  transition: background-color .3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.about__explore-btn:hover {
  background-color:#65635F;
}

.about__explore-btn:active {
  background-color:#251707;
}

@media screen and (max-width: 1100px) {
  
  .about__img-wrapper {
    width: 35%;
  }
  
}

@media screen and (max-width: 550px) {

  .about-container {
    flex-direction: column;
    gap: 0.5rem;
    height: calc(.5em + 90vw);
    justify-content: space-between;
  }
  
  .about__img-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    height: 100%;
  }
  
  .about__image {
    width: 65%;
  }

  .about__content-wrapper {
    width: 90%;
    height: 40%;
  }

  .about__explore-btn {
    align-self: center;
    margin-top: 1em;
  }
  
}

