.about-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.about__image {
  width: 30%;
}

.about__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 68%;
  gap: 0.5rem;
}

.about__title {
  font-weight: 500;
  font-size: calc(.4em + 2vw);
  letter-spacing: 0.15em;
  color: #161412;
}

.about__text {
  font-size: calc(.4em + 1vw);
  color: #65635F;
  font-weight: 300;
}

.about__explore-btn {
  margin-top: 1rem;
  cursor: pointer;
  background-color: #FF7D15;
  color: #FFF;
  font-size: calc(.1em + 1vw);
  text-transform: uppercase;
  height: 2.2em;
  width: 7em;
  border-radius: 0.15em;
  transition: background-color .3s;
}

.about__explore-btn:hover {
  background-color:#65635F;
}

.about__explore-btn:active {
  background-color:#251707;
}

@media screen and (max-width: 1100px) {

  .about__content-wrapper {
    gap: 0.3rem;
  }
  
}

@media screen and (max-width: 1000px) {

  .about__content-wrapper {
    gap: 0.2rem;
  }

  .about__image {
    width: 40%;
  }

  .about__content-wrapper {
    gap: 0.2rem;
    width: 58%;
  }
  
}

@media screen and (max-width: 780px) {

  .about__image {
    width: 50%;
  }

  .about__content-wrapper {
    width: 48%;
  }
  
}

@media screen and (max-width: 550px) {

  .about-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .about__content-wrapper {
    width: 100%;
  }

  .about__image {
    width: 100%;
  }

  .about__explore-btn {
    align-self: center;
  }
  
}

