.content__container {
  width: 90%;
  display: grid;
  grid-template-columns: 20% 65%;
  justify-content: center;
  column-gap: 6em;
  margin: 7.5em 3.5em 2.5em 3.5em;
}

.filters__container {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.filters__btns-wrapper {
  display: flex;
  justify-content: space-around;
}

.filters__btn-reset,
.filters__btn-copy {
  background: none;
  color: #65635f;
  cursor: pointer;
}

.cards__content {
}

.cards__sort-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  margin: 0 0 3% 0;
}

.cards__sort-products {
  cursor: pointer;
}
.cards__sort-by-price {
}
.cards__sort-by-price {
}
.cards__sort-by-rating {
}
.cards__found-count {
}
.cards__search-wrapper {
  display: flex;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid #65635f80;
}
.cards__search {
}

.cards__search-icon {
  width: 25px;
}
.cards__view-types {
  display: flex;
  gap: 17%;
}
.cards__view-line,
.cards__view-block {
  max-height: 30px;
  min-width: 30px;
  cursor: pointer;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.cards__not-found {
  grid-column: span 4;
  align-self: center;
  justify-self: center;
  font-size: 1.2em;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}
