.content__container {
  width: 90%;
  display: grid;
  grid-template-columns: 16.5rem 78%;
  justify-content: center;
  column-gap: 2%;
  margin: 1rem 5rem;
}

.filters__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: #e3e2e2;
  padding: 1rem;
}

.filters__btns-wrapper {
  display: flex;
  justify-content: space-around;
}

.filters__btn-reset,
.filters__btn-copy {
  background: none;
  color: #65635f;
  cursor: pointer;
}

.cards__sort-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  margin: 0 0 3% 0;
}

.cards__sort-products {
  cursor: pointer;
  height: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #FF7D15;
  width: 8.5rem;
}

.cards__found-count {
  font-weight: 300;
  color: #65635F;
  text-transform: uppercase;
  width: 5rem;
  text-align: center;
}

.cards__search-wrapper {
  height: 2.5rem;
  display: flex;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid #65635f80;
  align-items: center;
  width: 12rem;
}

.cards__search {
  padding: 0.2rem;
  outline: none;
  text-align: center;
  word-wrap: break-word;
}

.cards__search::placeholder {
  color: #FF7D15;
  font-weight: 300;
  text-transform: uppercase;
}

.cards__search-icon {
  height: 24px;
}

.cards__view-types {
  display: flex;
  width: 4.5rem;
  justify-content: space-between;
}

.cards__view-four {
  max-height: 30px;
  min-width: 30px;
  cursor: pointer;
  opacity: 60%;
}

.cards__view-two {
  max-height: 29px;
  min-width: 29px;
  cursor: pointer;
  opacity: 60%;
}

.cards__view-four.change-type,
.cards__view-two.change-type {
  filter: brightness(0);
  opacity: 100%;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.cards__container.change-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cards__container.change-type .cards__item {
  display: grid;
  grid-template-columns: 35% 62%;
  gap: 3%;
}

.cards__container.change-type .card__info_wrapper {
  width: 100%;
}

.cards__container.change-type .card__description {
  margin-top: 1%;
  display: inline-block;
}


.cards__not-found {
  grid-column: span 4;
  align-self: center;
  justify-self: center;
  font-size: 1.2em;
}

.cards__container.change-type .cards__item.hidden,
.hidden {
  display: none;
}
