.content__container {
  display: grid;
  grid-template-columns: 0.7fr 4fr;
  column-gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.filters__container {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem 1.5rem;
  max-width: 80%;
}