.filters__category,
.filters__size {
  display: flex;
  flex-direction: column;
  gap: 0.08em;
}

.category__checkbox-wrapper,
.size__checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: calc(0.2rem + 0.8vw);
}

.category__count-wrapper,
.size__count-wrapper {
  display: flex;
  gap: 0.3em;
  font-weight: 300;
  color: #65635f;
  font-size: calc(0.2rem + 0.8vw);
}

.category__legend-1,
.size__legend-1,
.filters__price_legend,
.filters__stock_legend {
  margin-bottom: 0.3em;
  font-size: calc(0.2em + 0.7vw);
  text-transform: uppercase;
  font-weight: 500;
  color: #ff7d15;
}

.category__input-wrapper,
.size__input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.1em;
}

.category-item,
.size-item {
  display: grid;
  place-content: center;
  width: 1.1em;
  height: 1.1em;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 0.15em;
  border: 1px solid #65635f;
  appearance: none;
}

.category-item::before,
.size-item::before {
  content: '';
  width: 0.8em;
  height: 0.8em;
  transform: scale(0);
  box-shadow: inset 1em 1em #ff7d15;
  transition: 120ms transform ease-in-out;
}

.category-item:checked:before,
.size-item:checked:before {
  transform: scale(1);
}

.filters__price_wrapper,
.filters__stock_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.price-value__from,
.price-value__to,
.stock-value__from,
.stock-value__to {
  font-size: calc(0.2em + 0.8vw);
  font-weight: 300;
  color: #65635f;
}

.filters__price_value-wrapper,
.filters__stock_value-wrapper {
  display: flex;
  justify-content: space-between;
}

.filters__price_slider,
.filters__stock_slider {
  position: relative;
}

.filters__price_lowest,
.filters__price_highest,
.filters__stock_lowest,
.filters__stock_highest {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #65635f;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
}

.filters__price_lowest,
.filters__stock_lowest {
  z-index: 1;
  margin-top: 1px;
  height: 0;
}

.filters__price_lowest::-webkit-slider-thumb,
.filters__price_highest::-webkit-slider-thumb,
.filters__stock_lowest::-webkit-slider-thumb,
.filters__stock_highest::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #9a9191;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filters__price_lowest::-webkit-slider-thumb:hover,
.filters__price_highest::-webkit-slider-thumb:hover,
.filters__stock_lowest::-webkit-slider-thumb:hover,
.filters__stock_highest::-webkit-slider-thumb:hover {
  background-color: #ff7d15;
}

.filters__price_lowest::-webkit-slider-thumb:active,
.filters__price_highest::-webkit-slider-thumb:active,
.filters__stock_lowest::-webkit-slider-thumb:active,
.filters__stock_highest::-webkit-slider-thumb:active {
  background-color: #65635f;
}

@media screen and (max-width: 1000px) {
  .category-item,
  .size-item {
    width: 0.9em;
    height: 0.9em;
  }

  .category-item::before,
  .size-item::before {
    content: '';
    width: 0.6em;
    height: 0.6em;
    transform: scale(0);
    box-shadow: inset 1em 1em #ff7d15;
    transition: 120ms transform ease-in-out;
  }
}
