.cards__item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card__img {
  max-width: 100%;
}

.card__info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: aliceblue;
}

.card__info_wrapper {
  display: flex;
  flex-direction: column;
  width: 72%;
}

.card__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 28%;
}

.card__btn_buy,
.card__btn_open-card {
  cursor: pointer;
  width: 45%;
}
