.checkout-modal-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  z-index: 20;
  position: fixed;
  align-items: center;
  justify-content: center;
  transition: all ease 1s;
}

.checkout-modal {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 40%;
  opacity: 1;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  position: absolute;
  height: 40vw;
  padding-bottom: 3%;
}

.checkout__pers-data_wrapper,
.checkout__card-data_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pers-data__title,
.card-data__title {
  font-weight: 700;
  font-size: calc(.1em + 1vw);
  margin: 1.2em 0;
}

.pers-data__title {
  margin-bottom: 1em;
}

.pers-data__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input {
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 80%;
  font-size: calc(.1em + 1vw);
  font-weight: 400;
  color: #65635f;
  text-align: center;
  line-height: 1.5em;
  padding: 0;
  margin: 0.35em;
}

.invalid {
  border: 2px solid #f703036b;
}

.valid {
  border: 2px solid #3fe01f54;
}

.card-data__number-input-wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 13% 1fr;
}

.card-data__number-input {
  width: 100%;
  margin: 0;
}

.card-data__expiration-input,
.card-data__cvv-input {
  margin: 0.7em 0 0.2em;
  width: 100%;
}

.card-data__expiration-input {
  justify-self: start;
}

.card-data__cvv-input {
  justify-self: end;
}

.card-data__data-cvv-wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.card-data__data-wrapper,
.card-data__cvv-wrapper,
.card-data__card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-data__data-cvv-label-wrapper {
  margin-bottom: 0.5em;
}

.pers-data__name-input::placeholder,
.pers-data__phone-input::placeholder,
.pers-data__address-input::placeholder,
.pers-data__email-input::placeholder,
.card-data__number-input::placeholder,
.card-data__expiration-input::placeholder,
.card-data__cvv-input::placeholder {
  font-size: calc(.1em + 1vw);
  font-weight: 300;
  color: #ff7d15;
  text-align: center;
  opacity: 70%;
}

.label,
.checkout__confirm-btn-text {
  width: 95%;
  font-size: calc(.25em + 0.5vw);
  font-weight: 400;
  color: #65635f93;
  text-align: center;
  padding: 0;
  margin: 0;
}

.card-data__number-logo-wrapper {
  width: 100%;
}

.card-data__number-input-image {
  background-size: contain;
  width: 80%;
}

.checkout__confirm-btn-wrapper {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.checkout__confirm-btn {
  background-color: #ff7e155d;
  color: #fff;
  text-transform: uppercase;
  width: 80%;
  margin-bottom: 0.5rem;
  height: 2.3em;
  transition: background-color .3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.15em;
  font-size: calc(.1em + 1vw);
}


.checkout__confirm-btn.valid-btn {
  background-color: #ff7d15;
  cursor: pointer;
}

.checkout__confirm-btn.valid-btn:hover {
  background-color: #65635F;
}

.checkout__confirm-btn.valid-btn:active {
  background-color:#251707;
}

.checkout__confirm-btn-text {
  display: inline-block;
}

.hidden {
  display: none;
}

.redirect-message-container {
  width: 50vw;
  text-align: center;
  align-self: center;
}

.redirect-message-container__thank-you-text {
  color: #ff7d15;
  font-weight: 500;
  font-size: 2.2rem;
}

.redirect-message-container__timer-text {
  font-weight: 400;
  font-size: 1.2rem;
  color: #65635F;
}

@media screen and (max-width: 1200px) {
  .checkout-modal {
    height: 42vw;
  }
}

@media screen and (max-width: 900px) {
  .checkout-modal {
    height: 45vw;
    gap: 3%;
  }
}

@media screen and (max-width: 780px) {
  .checkout-modal {
    height: 50vw;
  }
}

@media screen and (max-width: 660px) {
  .checkout-modal {
    height: 60vw;
    gap: 1%;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}
