.header {
  height: 80px;
  width: 100%;
  background-color: rgb(80, 80, 198);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1160px;
  min-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.logo__img {
  max-height: 65px;
}