.header {
  flex: 0 0 auto;
  width: 100%;
  height: 8rem;
  padding: 2rem 5rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo__img {
  width: 18rem;
  pointer-events: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  min-width: 25rem;
}

.menu__link {
  margin-left: 1.9rem;
  margin-right: 1.9rem;
  color: #161412;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

.menu__link:hover {
  color: #ff7d15;
}

.menu__link:active {
  color: #65635f;
}

.active-link {
  border-bottom: 2px solid #ff7d15;
  pointer-events: none;
}

.total-price,
.total-price__text {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0.2em;
  color: #9a9191;
  pointer-events: none;
  cursor: none;
}

.total-price__text {
  width: 4.9rem;
  text-align: center;
}

.total-price__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.3rem;
  width: 8rem;
}

.cart {
  display: flex;
  flex-wrap: nowrap;
}

.cart__icon {
  width: 1.6em;
  pointer-events: none;
  transition: transform 0.3s;
  z-index: 0;
}

.cart__link {
  display: flex;
  width: 2rem;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
}

.cart-hover:hover .cart__icon {
  cursor: pointer;
  transform: scale(1.2);
}

.cart__items-number {
  position: absolute;
  z-index: 2;
  width: 1.3em;
  height: 1.3em;
  color: #161412;
  text-align: center;
  line-height: 1.4em;
  font-size: 0.9em;
  background-color: #ff7d15;
  border-radius: 50%;
  transform: translate(+1.1rem, -0.3rem);
  pointer-events: none;
  appearance: none;
  -webkit-appearance: none;
}

.cart__link:active {
  color: #161412;
}

@media screen and (max-width: 1000px) {
  .logo__img {
    width: 9rem;
  }

  .menu__link,
  .total-price__text,
  .total-price {
    font-size: calc(0.3em + 1vw);
  }

  .cart__icon {
    width: 1.4em;
  }

  .cart__items-number {
    font-size: calc(0.3em + 1vw);
  }
}

@media screen and (max-width: 780px) {
  .logo__img {
    width: 7rem;
  }

  .menu__link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .header__menu {
    min-width: 18rem;
  }

  .total-price__container {
    width: 6rem;
  }

  .total-price__text {
    width: 2.7rem;
  }

  .cart__icon {
    width: 1.4em;
  }

  .cart__link {
    width: 1.5rem;
  }
}

@media screen and (max-width: 630px) {
  .logo__img {
    width: 6.5rem;
  }

  .menu__link {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  .header__menu {
    min-width: 15rem;
  }

  .total-price__container {
    width: 5rem;
  }

  .cart__icon {
    width: 1.3em;
  }

  .cart__link {
    width: 1.3rem;
  }
}

@media screen and (max-width: 530px) {
  .logo__img {
    width: 5rem;
  }

  .menu__link {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  .header__menu {
    min-width: 13rem;
  }

  .total-price__container {
    width: 4rem;
  }

  .cart__icon {
    width: 1.2em;
  }

  .cart__link {
    width: 1.2rem;
  }

  .cart__items-number {
    transform: translate(+0.8rem, -0.2rem);
  }
}
