.footer {
  height: 15em;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.footer__container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.footer__contacts-container {
  width: 80%;
  margin: 2% 4%;
  display: flex;
  flex-direction: column;
}

.footer__image {
  margin: 2% 4%;
  height: 40%;
}

.contacts-container__title {
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 5%;
}

.contacts-container__info {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 50% 30%;
  align-content: flex-end;
}

.contacts-container__info-office,
.contacts-container__info-phone,
.contacts-container__info-email {
  display: inline-block;
  font-size: 1em;
  line-height: 120%;
  color: #868686;
}

.contacts-container__info-address,
.contacts-container__info-phone-number {
  grid-column: span 2;
}

.contacts-container__social-media {
  display: flex;
  gap: 6%;
  align-items: flex-end;
  justify-content: flex-start;
}

.contacts-container__github-logo,
.contacts-container__rsschool {
  max-height: 30px;
}
